{% extends "base.html" %}
{% block content %}

<div class="card-body">

    <h4 style="text-align: center;font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: bolder;">Material List</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="display:none">id</th>
                <th scope="col">Material Code</th>
                <th scope="col">Material Name</th>
                <th scope="col">Material Location</th>
                <!-- <th scope="col">Unit of Measurement</th>
                <th scope="col">Maximum Level</th>
                <th scope="col">Minimum Level</th> -->
                <th scope="col">Re-Order Level</th>
                <th scope="col" style="display:none">Quantity</th>
                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody>
            {% for materials in material %}
            <tr>

                
                <td style="display:none">{{ materials.id}}</td>
                <td>{{ materials.Material_Code}}</td>
                <td>{{ materials.Material_Name}}</td>
                <td>{{ materials.Material_Location }}</td>
                <!-- <td>{{ materials.Unit_of_Measurement}}</td>
                <td>{{ materials.Maximum_Level}}</td>
                <td>{{ materials.Minimum_Level}}</td> -->
                <td>{{ materials.Re_order_Level}}</td>
                <td style="display:none">{{ materials.Quantity}}</td>
                
                <td><button type="button"><a   href="/material_update/{{materials.id}}">Update</a></button>
              
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button" onclick="create()">Create</button>
    <button type="button" onclick="cancel()">Cancel</button>
    <!-- <button type="button"><a  href="/create_material">Create</a></button> -->
    <!-- <button type="button"><a  href="/master_page">Cancel</a></button> -->
    
</div>
<script>
    function create(){
        window.location.assign("/create_material")

    }
    function cancel(){
        window.location.assign("/master_page")

    }
    
</script>
{% endblock %}


